.wrapper{
    background-color: lightgrey; 
}
.NavBar{
    margin: 0 auto;
    background-color: grey;
    overflow: auto;
    height: 50px;
    padding: 10px;
}

h1{
    background-color:rgb(56, 189, 155);
    color: antiquewhite;
    padding: 10px;
    text-align: center;
    display: inline;
    position: relative;
    left: 100px;
    top: 5px;
}

a{
    text-decoration: none;
}

#aboutId,
#contactId,
#portfolioId{
    background-color: rgb(56, 189, 155);
    color: antiquewhite;
    font-size: 15pt;
    font-weight: bold;
    float: right;
    padding: 10px;
    margin-right: 10px;
}
.middleDiv{
    clear: both;
    background-color: whitesmoke;
    margin: 25px 25px 25px;
    overflow: auto;
}

.titleSec{
    padding: 10px;
    margin: 10px;
    font-size: 30pt;
    font-weight: bolder;
    color: burlywood;
    text-align: center;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
}

#section2{
    width: 500px;
    margin: 10px;
    float: left;
}

#myImage{
    margin: 20px;
    float: left;
}
p{
    width: 500px;
}

#footer{
    background-color: grey;
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
}

form{
    margin: 2%;
    margin-left: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nameInput,
#emailInput{
    margin: 5px;
    width: 75%;
    height: 20px;
}

#messageInput{
    margin: 5px;
    width: 75%;
    height: 100px;
}
